html {
  background-color: #191414;
}
#root {
  font-family: "spotify-circular";
}
.task-bar {
  background-color: #1db954;
  padding: 0px;
}
.container {
  display: flex;
  align-items: center;
}
.navbar {
  width: 100%;
  flex: 1;
  background-color: #1db954;
}
.login-btn {
  margin-left: 45px;
  font-family: "spotify-circular";
  background-color: #191414;
  border: none;
  font-weight: bolder;
  color: #1db954;
  padding: 10px 10px;
  padding-top: 8px;
  padding-bottom: 4px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
.text-btn {
  font-family: "spotify-circular";
  font-size: 17px;
  background-color: #1db954;
  padding: 0;
  padding-top: 5px;
  color: #191414;
  border: none;
  cursor: pointer;
}
.nav-logo {
  margin-left: 10px;
  margin-right: 0;
  width: 80px;
  height: 80px;
}

.title {
  font-style: bold;
  font-weight: 100;
  padding-top: 6px;
  font-size: 150;
  margin-left: 0px;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  margin-left: 40px;
}

@media screen and (max-width: 600px) {
  .no-bullets li {
    padding-left: 80px;
    margin-top: 5px;
    flex-basis: 100%;
  }
}
